<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('partials/head', {pageTitle: 'Meow!'}); %>
        <link rel="stylesheet" href="/css/homeProductos.css">
        <link rel="stylesheet" href="/css/homeClientes.css">
</head>

<body>
    <%- include('partials/header'); %>
        <main>
            <section id="portada" class="portada">
                <div class="hero">
                    <div class="hero-description">
                        <h1 class="hero-title">
                            Alimento real,
                            <br>
                            <span class="nobreak">para gatos reales 🐱</span>
                        </h1>
                        <a class="button portada" href="/products">Quiero!</a>
                    </div>
                </div>
            </section>
            <div class="horizontalBlock horizontalBlock--turquesa"></div>

            <!-- ABOUTUS -->
            <section>

                <div class="container container-ingredients">
                    <div class="box ingredients">
                        <div class="text-container ingredients">
                            <h2 class="ingredients title">Solo lo que ellos necesitan, ni más ni menos</h2>
                            <p class="box text ingredients">
                                La Asociación Argentina de Veterinarios recomienda Meow por una simple razón: en nuestra gran varieadad de productos vas a encontrar alimento real con todo el aporte nutricional que nuestros gatitos necesitan. Olvidate de los snacks extras para cubrir ese déficit de los balanceados tradicionales.
                        </div>

                        <div class="ingredients-images">
                            <div class="imagen-container ingredients">
                                <img class="box-imagen" src="/images/ingredientes-food.jpeg" alt="Alimento para gatos">
                            </div>
                            <div class="imagen-container ingredients">
                                <img class="box-imagen" src="/images/ingredientes-cat.webp" alt="Gato comiendo">
                            </div>
                        </div>

                    </div>
                </div >

                <div id="aboutus" class="container container-aboutus">
                    <div class="box about">
                        <div class="text-container">
                            <h1 class="box title">Nosotros</h1>
                            <p class="box text">
                                Somos un gran equipo y el bienestar de nuestros amigos felinos es nuestra prioridad. Queremos ofrecer la experiencia del cliente que nunca obtuvimos y una comunidad de amigos con intereses comunes.
                            </p>
                        </div>
                        <div class="imagen-container">
                            <img class="box-imagen" src="/images/about-office.jpeg" alt="Grupo de personas con bicicletas">
                        </div>

                    </div>
                    <div class="box about">
                        <div class="text-container">
                            <h1 class="box title">Nuestros Valores</h1>
                            <p class="box text">
                                Los valores que nos guían no son solo carteles bonitos, estamos orgullosos de cómo interactuamos con nuestros clientes y entre nosotros todos los días. Nuestras mascotas son también parte de esto.
                            </p>
                        </div>
                        <div class="imagen-container">
                            <img class="box-imagen" src="/images/about-cat.jpeg" alt="Grupo de personas con bicicletas">
                        </div>
                    </div>

                    <div class="box about">
                        <div class="text-container">
                            <h1 class="box title">Nuestra Materia</h1>
                            <p class="box text">
                                Creemos en el comercio justo y amigable con el medio ambiente, por eso trabajamos codo a codo con nuestros productores para asegurarnos de obtener lo mejor y a un precio justo.
                            </p>
                        </div>
                        <div class="imagen-container">
                            <img class="box-imagen" src="/images/about-food.jpeg" alt="Grupo de personas con bicicletas">
                        </div>
                    </div>

                    <div class="box about">
                        <div class="text-container">
                            <h1 class="box title">Nuestra Cultura</h1>
                            <p class="box text">
                                En Meow dejamos a un lado los grandes márgenes de ganancia y las falsificaciones en favor de lo que realmente nuestras mascotas necesitan y merecen.
                            </p>
                        </div>
                        <div class="imagen-container">
                            <img class="box-imagen" src="/images/about-team.jpeg" alt="Grupo de personas con bicicletas">
                        </div>
                    </div>

                    <div class="box about">
                        <div class="text-container">
                            <h1 class="box title">Nuestro Futuro</h1>
                            <p class="box text">
                                Nos estamos expandiendo y llegando cada vez a más ciudades del país. Ya tenemos presencia en varias provincias y vamos por más.
                            </p>
                        </div>
                        <div class="imagen-container">
                            <img class="box-imagen" src="/images/about-future.jpeg" alt="Grupo de personas con bicicletas">
                        </div>
                    </div>
                </div>

            </section>
            <div class="horizontalBlock horizontalBlock--pink"></div>
            <!-- CUSTOMERS -->
            <section id="customers" class="customers">
                <div class="container">
                    <h2 class="title-clientes title secciones">Clientes felices</h2>
                    <div class="grid">
                        <div class="customers-card item-1">
                            <div class="customers-card__text">
                                <img class="quote-icon yellow" src="/images/customers/quote-yellow.png" alt="">
                                <p>Es el mejor alimento que puedo darle a mi gato. Coco está muy saludable y su pelaje se increíble.
                                </p>
                            </div>
                            <div class="customers-card__description">
                                <img src="/images/customers/uno.png" alt="" class="customers-photo">
                                <div class="customers-card__description-person">
                                    <p class="customers-name">Luciana & Coco</p>
                                    <p class="customers-city">Viedma</p>
                                </div>
                            </div>
                        </div>

                        <div class="customers-card item-2">
                            <div class="customers-card__text">
                                <img class="quote-icon yellow" src="/images/customers/quote-pink.png" alt="">
                                <p>Los problemas de salud de Greta han desaparecido, ha recuperado el peso que perdió.
                                </p>
                            </div>
                            <div class="customers-card__description">
                                <img src="/images/customers/tres.png" alt="" class="customers-photo">
                                <div class="customers-card__description-person">
                                    <p class="customers-name">Martín & Greta</p>
                                    <p class="customers-city">Rosario</p>
                                </div>
                            </div>
                        </div>

                        <div class="customers-card item-3">
                            <div class="customers-card__text">
                                <img class="quote-icon yellow" src="/images/customers/quote-green.png" alt="">
                                <p>No hay forma de que podamos volver a la pasta enlatada o a las croquetas de supermercado.
                                </p>
                            </div>
                            <div class="customers-card__description">
                                <img src="/images/customers/dos.png" alt="" class="customers-photo">
                                <div class="customers-card__description-person">
                                    <p class="customers-name">Alicia & Kati</p>
                                    <p class="customers-city">San Juan</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </main>

        <%- include('partials/footer'); %>
</body>