<div class="horizontalBlock horizontalBlock--yellow"></div>
<footer class="footer">
    <div class="container">
        <nav class="footer-nav">
            <div>
                <h4>Meow</h4>
                <ul class="footer-list">
                    <li><a class="footer-link" href="/#aboutus">Nosotros</a></li>
                    <li><a class="footer-link" href="/products">Productos</a></li>
                    <li><a class="footer-link" href="/#customers">Clientes</a></li>
                    <li><a class="footer-link" href="/users/login">Login</a></li>
                </ul>
            </div>
            <div>
                <h4>Contacto</h4>
                <ul class="footer-list">
                    <li><a class="footer-link" href="tel:0123-456-789">0123-456-789</a></li>
                    <li><a class="footer-link" href="mailto: meow@meow.com">¡Escribinos!</a></li>
                </ul>

                <ul class="footer-list footer-list--social-media">
                    <li>
                        <a href="https://www.twitter.com/" target="_blank" class="icon-link">
                            <img src="/images/twitter-brands.svg" alt="Twitter">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/" target="_blank" class="icon-link">
                            <img src="/images/facebook-brands.svg" alt="Facebook">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank" class="icon-link">
                            <img src="/images/instagram-brands.svg" alt="Instagram">
                        </a>
                    </li>
                    <li>
                        <a href="/#portada" class="icon-link">
                            <img src="/images/angle-double-up-solid.svg" alt="Go back up">
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</footer>